*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
    font-family: 'Gabarito', sans-serif;
    font-family: 'Ultra', serif;
    transition: 2s;
}
body{
   
    background-image: url(https://images4.fanpop.com/image/photos/19000000/blue-cloud-background-blue2-19029417-1920-986.jpg);
    transition: none;
    overflow-x: hidden;
    background-size: 270vh;
    animation: seila infinite 57s;
}
@keyframes seila {
    0%{
        background-position: 0% 0%;

    }
    100%{
        background-position: 100% 0%;
    }
}
header{
    height: 8vh;
    background-color: #5e3101;
    display: flex;
    align-items: center;
    justify-content: space-between ;
}
header >input{
    position: absolute;
    margin-left: 69vh;
    text-align: center;
    display: flex;
}
header > input::placeholder{
    text-align: center;
    justify-content: center;
    margin-top: -5vh;
}
.burguer{
    height: 6vh;
    width: 8vh;
    display: flex;
    flex-direction: column;
    margin-top: -6px;
    
}
.burguer > div{
    height: 2vh;
    background-color: wheat;
    margin-top: 7px;
}
header > input{
    width: 70vh;
    height: 5vh;
    border-radius: 12px;
    text-align: center;
   background-color: wheat;
   font-size: 20px;
   color: rgb(135, 33, 33);
   cursor: pointer;
}
header > input::placeholder{
    color:  rgba(126, 22, 22, 0.621);
    font-size: 2vh;
}
header > input:hover {
    background-color: rgb(245, 227, 194);
}
header > button{
    border-radius: 12px;
    font-size: 4vh;
    padding: 3px 14px;
    cursor: pointer;
    background-color: wheat;
    color: rgb(127, 30, 30);
}
.titulo{
    
    width: 50vh;
    text-align: center;
    height: auto;
    margin: 60px auto;
    align-items: center;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
}
.titulo > h1{
    font-size: 10vh;
    color: rgb(135, 33, 33);
    text-shadow: 10px 10px 60px white;
}
.titulo > div{
    background-color: black;
    width: 41vh;
    height: 10px;
    border-radius: 20px;
    background-color: #5e3101;
}
.container{
 
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Guilherme{
    width: 100vh;
    height: 40vh;
    align-items: center;
    display: flex;
    background-color: wheat;
    border-radius: 20px;
    border: solid 7px #5e3101 ;;
}

.pf{
    width: 23vh;
    border-radius: 20px;
    margin-left: 3vh;
}
.gui_org{
    display: flex;
    flex-direction: column;
    width: 64vh;
    margin-left: 3vh;
    margin-top: 3vh;
}
.gui_org > h1{
    font-size: 5vh;
    color: #5e3101;
}
.gui_org > p{
    font-size: 3.7vh;
    color: #5e3101;

}
.verMais{
    background-color: wheat;
    border: 6px solid #5e3101;
    border-radius: 20px;
    cursor: pointer;
    color: #5e3101;
    font-size: 2.6vh;
    font-weight: 1000;
    position: absolute;

}
.ageitaBotao2{
    margin-top: 40vh;
    margin-left: -3vh;
}

.aumentamanho{
    width: 120vh;
    height: 210vh;
}
.voltaImg{
    
    display: flex;
    visibility: visible;
}
.someImg{
     display: none;
  
}
.ageitaBotao{
    margin-top: 210vh;
    font-size: 3.2vh;
}
.imgGui{

    width: 80vh;
    height: 170vh;
    flex-direction: column;
    justify-content: space-around;
}
.imgGui > div{
    
    display: flex;
    height: 100vh;
    width: 80vh;
    
    align-items: center;
}
.imgGui > div > img{
    height: 40vh;
    width: 30vh;
    border-radius: 10px;
    
    
}
.imgGui > div >div{
    height: 40vh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}
.imgGui > div > div> h1{
    font-size: 4vh;
    color: #ca6e0c;
}
.imgGui > div > div> p{
    font-size: 5vh;
    color: #5e3101;
}








.Gabriel{
    width: 100vh;
    height: 40vh;
    align-items: center;
    display: flex;
    background-color: wheat;
    border-radius: 20px;
    border: solid 7px #5e3101 ;
    margin-top: 5vh;

}
.org_gab{
    width: 64vh;
    margin-left: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.org_gab > h1{ 
    font-size: 5vh;
    color: #5e3101;
}
.org_gab > p{
    font-size: 3.7vh;
    color: #5e3101;
}
.org_gab > input{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #5e3101;
    text-decoration: underline;
    font-size: 2.6vh;
    font-weight: 1000;

}
.verGab{
        background-color: wheat;
        border: 6px solid #5e3101;
        border-radius: 20px;
        cursor: pointer;
        color: #5e3101;
}
.imgGab{
    width: 80vh;
    height: 170vh;
    flex-direction: column;
    justify-content: space-around;
}
.imgGab > div{
    display: flex;
    height: 100vh;
    width: 80vh;
    align-items: center;
}
.imgGab > div > img{
    height: 40vh;
    width: 30vh;
    border-radius: 10px;
}
.imgGab > div > div{
    height: 40vh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.imgGab > div > div h1{
    font-size: 4vh;
    color: #ca6e0c;
}
.imgGab > div > div > p{
    font-size: 5vh;
    color: #5e3101;
}
.butGabNormal{
    font-size: 2.6vh;
        font-weight: 1000;
        margin-left: -93vh;
        margin-top: -2vh;
}
.someGab{
    display: none;
}
.voltaGab{
    display: flex;
    visibility: visible;
}
.ageitaBotaoGAb{
    margin-right: 19vh;
}
.aumentaGab{
    width: 120vh;
    height: 210vh;
}