@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gabarito:wght@800&family=Ultra&display=swap');

::-webkit-scrollbar {
    width: 0px; 
    
}
  
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
    font-family: 'Gabarito', sans-serif;
    font-family: 'Ultra', serif;
    transition: 2s;
}
body{
    background-image: url(https://img.freepik.com/premium-vector/white-clouds-blue-sky-seamless-pattern-different-form-fluffy-clouds-light-heaven-background-vector-flat-cartoon-style-abstract-endless-texture-web-covers-decoration-kids-print-design_502274-343.jpg?w=2000);
    background-size: 500px;
    overflow-x: hidden;
}
header{
    height: 8vh;
    background-color: #5e3101;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.burguer{
    height: 50px;
    width: 60px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: -6px;
}
.burguer > div{
    height: 10px;
    background-color: wheat;
    margin-top: 7px;
}
header > input{
    width: 70vh;
    height: 5vh;
    border-radius: 12px;
    text-align: center;
   background-color: wheat;
   font-size: 20px;
   color: rgb(135, 33, 33);
   cursor: pointer;
}
header > input::placeholder{
    color:  rgba(126, 22, 22, 0.621);
    font-size: 20px;
}
header > input:hover {
    background-color: rgb(245, 227, 194);
}
header > button{
    border-radius: 12px;
    font-size: 30px;
    padding: 3px 14px;
    cursor: pointer;
    background-color: wheat;
    color: rgb(127, 30, 30);
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.primeiro{
    display: flex;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.459);
    border-radius: 30px;
    border: solid 10px black;
    padding: 2px 40px;
    box-shadow: 12px 12px 50px white;
}
.primeiro > h1{
    font-size: 100px;
}
.primeiro > img{
    height: 140px;
    animation: 3.5s entrada normal;
    transition: 2s;
}
@keyframes entrada {
    from{
        transform: translateX(200%) rotate(180deg);
    }
    to{
        transform: translateX(0) rotate(0);
    }
}
.container{
    border: solid 10px black;
    width: 130vh;
    height: 90vh;
    border-radius: 30px;
    background-color: rgba(255, 0, 0, 0.406);
    box-shadow: 2px 2px 10px white;
    align-items: center;
}
.botoes{
    
    height: 8vh;
    display: flex;
    justify-content: space-around;
}
.botoes > button{
    font-size: 35px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 20px;
    padding: 0 6px;
    margin-top: 8px;
    cursor: pointer;
    box-shadow: 2px 2px 20px black;
    transition: 1s;
}
.barra{
    background-color: black;
    width: 124vh;
    height: 1vh;
    margin: 10px 12px;
    border-radius: 10px;
}
.t1:hover{
    transform: scale(1.07);
    box-shadow: 10px 10px 20px blue;
    animation: piscar normal 2s;
}
@keyframes piscar {
    from{
        box-shadow: 10px 10px 1px transparent;
    }
    to{
        box-shadow: 10px 10px 20px inherit;
    }
}
.t2:hover{
    transform: scale(1.07);
    box-shadow: 10px 10px 20px red;
    animation: piscar normal 2s;
}
.t3:hover{
    transform: scale(1.07);
    box-shadow: 10px 10px 20px rgb(225, 157, 9);
    animation: piscar normal 2s;
}
.t4:hover{
    transform: scale(1.07);
    box-shadow: 10px 10px 20px green;
    animation: piscar normal 2s;
}
.t5:hover{
    transform: scale(1.07);
    box-shadow: 10px 10px 20px gray;
    animation: piscar normal 2s;
}
.perfil > img{
    height: 110px;
    width: 110px;
}
.perfil> div{
    height: 50px;
    width: 50px;
    background-image: url(https://cdn.icon-icons.com/icons2/2528/PNG/512/profile_user_icon_151793.png);
    background-color: rgb(255, 255, 255);
    position: absolute;
    border-radius: 100%;
    margin-top: 38px;
    margin-left: 30px;
    background-size: cover;
    background-repeat: no-repeat;
}
