@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gabarito:wght@800&family=Ultra&display=swap');

::-webkit-scrollbar {
    width: 0vh;
    
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
    font-family: 'Gabarito', sans-serif;
    font-family: 'Ultra', serif;
    transition: 2s;
}
body{
    background-image: url(https://img.freepik.com/premium-vector/white-clouds-blue-sky-seamless-pattern-different-form-fluffy-clouds-light-heaven-background-vector-flat-cartoon-style-abstract-endless-texture-web-covers-decoration-kids-print-design_502274-343.jpg?w=2000);
    background-size: 50vh;
    overflow-x: hidden;
    animation: seila infinite 57s;
    scroll-behavior: smooth;
}
header{
    height: 8vh;
    background-color: #5e3101;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}
.burguer{
    height: 6vh;
    width: 8vh;
    display: flex;
    flex-direction: column;
    margin-left: 3vh;
    margin-top: -1vh;
    cursor: pointer;
}
.burguer > div{
    height: 2vh;
    background-color: wheat;
    margin-top: 1vh;
}
header > input{
    width: 70vh;
    height: 5vh;
    border-radius: 2vh;
    text-align: center;
   background-color: wheat;
   font-size: 2.5vh;
   color: rgb(135, 33, 33);
   cursor: pointer;
}
header > input::placeholder{
    color:  rgba(126, 22, 22, 0.621);
    font-size: 2.6vh;
}
header > input:hover {
    background-color: rgb(245, 227, 194);
}
header > .dentro > button{
    border-radius: 2vh;
    font-size: 30px;
    padding: 3px 14px;
    cursor: pointer;
    background-color: wheat;
    color: rgb(127, 30, 30);
}



main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.menu{
    height: 130vh;
    width: 100vh;
    position: absolute;
    background-color: wheat;
    margin-left: -102vh;
    margin-top: -3vh;
    display: flex;
    
    transition: 1s;
}
.positionMenu{
    transform: translateX(0vh);
}
.ReturnMenu{
    transform: translateX(-200vh);
    
}
.Menu_Responsa{
    display: flex;
    flex-direction: column;
    height: 120vh;
    margin-top: 2vh;
    margin-left: 15vh;
    justify-content: space-between;
}
.Menu_Responsa > a{
    text-decoration: none;
    color: #5e3101;
    font-size: 2vh;
    transition: 0s;

}
.xis{
    height: 6vh;
    width: 8vh;
    display: flex;
    position: absolute;
    flex-direction: column;
    margin-left: 3vh;
    margin-top: 2vh;
    margin-left: 88vh;
    cursor: pointer;
}
.xis > div{
    height: 2vh;
    background-color: #5e3101;
    margin-top: 1vh;
    animation: xBurguer 2seg ;
}
.b1{
    transform: rotate(45deg) translateY(1.3vh) translateX(1vh);
    animation: barra1 1s ease-in-out;
}
.b2{
    transform: rotate(-45deg) translateY(-0.3vh) translateX(0vh);
    animation: barra2 1s ease-in-out;
}
.b3{
    transform: rotate(45deg) translateX(-2vh) translateY(-1.4vh);
    animation: barra3 1s ease-in-out;
}
@keyframes barra1 {
    to{
        transform: rotate(0deg) translateY(0vh) translateX(0vh);
    }
}
@keyframes barra2 {
    to{
        transform: rotate(0deg) translateY(0vh) translateX(0vh);
    }
}
@keyframes barra3 {
    to{
        transform: rotate(0deg) translateY(0vh) translateX(0vh);
    }
}
.primeiro{
    display: flex;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.459);
    border-radius: 30px;
    border: solid 10px black;
    padding: 2px 40px;
    box-shadow: 12px 12px 50px white;
}
.primeiro > h1{
    font-size: 11vh;
}
.primeiro > img{
    height: 14vh;
    animation: 3.5s entrada normal;
    transition: 2s;
}
.trend{
    font-size: 4vh;
}
@keyframes entrada {
    from{
        transform: translateX(200%) rotate(180deg);
    }
    to{
        transform: translateX(0) rotate(0);
    }
}